
@{
    ViewBag.Title = "Terms";
}
<div class="inner-hero-section style--four">
    <div class="bg-shape"><img src="~/Content/assets/images/elements/inner-hero-shape-2.png" alt="image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="page-list">
                    <li><a href="/">Home</a></li>
                    <li class="active">Term and Condition</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="mt-minus-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-wrapper pt-120">
                    <div class="about-wrapper__header">
                        <div class="about-wrapper__title-top">A few words term and condition</div>

                    </div>
                    <div class="about-wrapper__content">
                        <p>We're bold in our ambition: to be the world's biggest and best online lottery platform. We're for every player that's ever dreamed of hitting the jackpot, which is why we bring you the biggest prizes from around the world and offer you tons of ways to play. Our aim is to offer unprecedented variety as well as quality.</p>
                        <p>Our team of creative programmers, marketing experts, and members of the global lottery community have worked together to build the ultimate lottery site, and every win and happy customer reminds us how lucky we are to be doing what we love.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


